.hero-section {
  background-image: url("../../assets/hero.jpg");
}

.hero-heading {
  font-size: 3rem;
  line-height: 3.5rem;
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 4.5rem;
    line-height: 5.2rem;
  }
}
