/* .sidebar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.sidebar h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.sidebar form {
  display: flex;
  flex-direction: column;
}

.sidebar form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.sidebar form input,
.sidebar form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.sidebar form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar form button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sidebar form input,
  .sidebar form select {
    padding: 8px;
    font-size: 12px;
  }

  .sidebar form button {
    padding: 8px;
    font-size: 14px;
  }
}  */
.sidebar input:focus {
  border: 3px solid #5571cf;
}
