@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f8f8;
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(1280px, 100% - (1rem) * 2);
  margin-inline: auto;
}
